Adafruit-BBIO==1.2.0
Adafruit-Blinka==6.15.0
adafruit-circuitpython-dht==3.7.0
Adafruit-DHT==1.4.0
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.17.2
Adafruit-PureIO==1.1.9
Adafruit-SSD1306==1.6.2
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.8
cheroot==8.5.2
CherryPy==18.6.1
frozenlist==1.2.0
idna==3.3
importlib-resources==5.4.0
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.text==3.6.0
more-itertools==8.12.0
multidict==5.2.0
numpy==1.21.5
paho-mqtt==1.6.1
Pillow==9.0.0
pkg-resources==0.0.0
portend==3.1.0
pyftdi==0.53.3
pyserial==3.5
python-dateutil==2.8.2
pytz==2021.3
pyusb==1.2.1
requests==2.26.0
rpi-ws281x==4.3.1
RPi.GPIO==0.7.0
six==1.16.0
spidev==3.5
sysv-ipc==1.1.0
telepot==12.7
tempora==4.1.2
typing-extensions==4.0.1
urllib3==1.26.7
yarl==1.7.2
zc.lockfile==2.0
zipp==3.6.0
